## Import Libraries

In [60]:
import pandas as pd
import os
import sqlite3

## Constants and File Assignments

In [62]:
#Filename of data source
JEOPARDY_CSV = "jeopardy.csv"

#Assign the data source to 'jeopardy_data'
jeopardy_data = pd.read_csv(JEOPARDY_CSV)

#Connect the SQLite Database
conn = sqlite3.connect("jeopordy.db")

#Write the dataframe to sqlite db
jeopardy_data.to_sql('jeopardy_data_table', conn, if_exists='replace')

## Display the Pandas Data Frame

In [67]:
jeopardy_data

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,In North America this term is properly applied...,a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

## Find all Double Jeopardy questions asked in 2005

In [68]:
double_jeopardy_05 = pd.read_sql('SELECT value, question, answer FROM jeopardy_data_table WHERE "air date" BETWEEN "2005-01-01" AND "2005-12-31" ;', conn)

## Clean up the Value column

In [69]:
double_jeopardy_05['Value'] = double_jeopardy_05['Value'].replace({'\$': '', ',': ''}, regex=True)

## Count the number of Double Jeopardy questions asked for each Value

In [70]:
double_jeopardy_05.Value.value_counts()

400     2672
800     2568
1000    1392
200     1354
600     1301
        ...
6200       1
4500       1
5700       1
7800       1
1203       1
Name: Value, Length: 63, dtype: int64

## Close the SQLite Connection

In [71]:
conn.close()