## Import Libraries

In [29]:
import pandas as pd
import os

## Constants and File Assignments

In [36]:
#Get current working directory
os.getcwd()

#Filename of data source
FILENAME = "jeopardy.csv"

#Assign the first 100 rows of the data source to 'data'
data = pd.read_csv(FILENAME, nrows = 100, usecols =[5, 6])

## Present the Data Set

In [40]:
data

                                             Question         Answer
0   For the last 8 years of his life, Galileo was ...     Copernicus
1   No. 2: 1912 Olympian; football star at Carlisl...     Jim Thorpe
2   The city of Yuma in this state has a record av...        Arizona
3   In 1963, live on "The Art Linkletter Show", th...     McDonald's
4   Signer of the Dec. of Indep., framer of the Co...     John Adams
..                                                ...            ...
95  Say <a href="http://www.j-archive.com/media/20...         Oregon
96  This car company has been in the news for wide...         Toyota
97  As an adjective, it can mean proper; as a verb...        correct
98  The wedge is an adaptation of the simple machi...          plane
99  With a mighty leap of 5'1", David Mosely set t...  the high jump

[100 rows x 2 columns]

In [41]:
print(data)

                                             Question         Answer
0   For the last 8 years of his life, Galileo was ...     Copernicus
1   No. 2: 1912 Olympian; football star at Carlisl...     Jim Thorpe
2   The city of Yuma in this state has a record av...        Arizona
3   In 1963, live on "The Art Linkletter Show", th...     McDonald's
4   Signer of the Dec. of Indep., framer of the Co...     John Adams
..                                                ...            ...
95  Say <a href="http://www.j-archive.com/media/20...         Oregon
96  This car company has been in the news for wide...         Toyota
97  As an adjective, it can mean proper; as a verb...        correct
98  The wedge is an adaptation of the simple machi...          plane
99  With a mighty leap of 5'1", David Mosely set t...  the high jump

[100 rows x 2 columns]