In [10]:
import pandas as pd
import os
os.getcwd()

'/Users/matthew/Desktop/Python/Python_For_Data_Analysis'

In [11]:
data = pd.read_csv("jeopardy.csv", usecols =[3, 5, 6], nrows = 200)

In [17]:
data.head(200)

,Category,Question,Answer
0,HISTORY,"For the last 8 years of his life, Galileo was ...",Copernicus
1,ESPN's TOP 10 ALL-TIME ATHLETES,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,EVERYBODY TALKS ABOUT IT...,The city of Yuma in this state has a record av...,Arizona
3,THE COMPANY LINE,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,EPITAPHS & TRIBUTES,"Signer of the Dec. of Indep., framer of the Co...",John Adams
...,...,...,...
195,FLAGS OF THE WORLD,"In the 1990s, this nation whose flag is seen h...",Germany
196,ARCHITECTS,Dallas-Fort Worth Airport architect Gyo Obata ...,Air & Space Museum
197,1994 FILMS,"Containing the hit ""Can You Feel The Love Toni...",The Lion King
198,THE EYES HAVE IT,Flower seen here (that fits the category),Iris
199,GENERAL SCIENCE,"On the pH scale, a pH of 7 indicates this type...",Neutral