## Import Libraries

In [32]:
import pandas as pd
import os

#Get current working directory
os.getcwd()

'/Users/matthew/Desktop/Python/Python_For_Data_Analysis'

## Constants and File Assignments

In [35]:
#Filename of data source
JEOPARDY_CSV = "jeopardy.csv"

#Assign the first 100 rows of the data source to 'data'
jeopardy_data = pd.read_csv(JEOPARDY_CSV, usecols =[5, 6])

## Present the Data Set

In [36]:
jeopardy_data

                                             Question          Answer
0   For the last 8 years of his life, Galileo was ...      Copernicus
1   No. 2: 1912 Olympian; football star at Carlisl...      Jim Thorpe
2   The city of Yuma in this state has a record av...         Arizona
3   In 1963, live on "The Art Linkletter Show", th...      McDonald's
4   Signer of the Dec. of Indep., framer of the Co...      John Adams
5   In the title of an Aesop fable, this insect sh...         the ant
6   Built in 312 B.C. to link Rome & the South of ...  the Appian Way
7   No. 8: 30 steals for the Birmingham Barons; 2,...  Michael Jordan
8   In the winter of 1971-72, a record 1,122 inche...      Washington
9   This housewares store was named for the packag...  Crate & Barrel
10                                   "And away we go"  Jackie Gleason

In [37]:
print(jeopardy_data)

                                             Question          Answer
0   For the last 8 years of his life, Galileo was ...      Copernicus
1   No. 2: 1912 Olympian; football star at Carlisl...      Jim Thorpe
2   The city of Yuma in this state has a record av...         Arizona
3   In 1963, live on "The Art Linkletter Show", th...      McDonald's
4   Signer of the Dec. of Indep., framer of the Co...      John Adams
5   In the title of an Aesop fable, this insect sh...         the ant
6   Built in 312 B.C. to link Rome & the South of ...  the Appian Way
7   No. 8: 30 steals for the Birmingham Barons; 2,...  Michael Jordan
8   In the winter of 1971-72, a record 1,122 inche...      Washington
9   This housewares store was named for the packag...  Crate & Barrel
10                                   "And away we go"  Jackie Gleason